
*.vsidx
*.dll
*.pdb
*.dll
TicketSales/Ticket Sales/.vs/Ticket Sales/v17/.suo
TicketSales/Ticket Sales/.vs/Ticket Sales/v17/.suo
*.dll
TicketSales/Ticket Sales/.vs/Ticket Sales/v17/.suo
*.dll
*.exe
*.pdb
*.cache
*.pdb
*.json
/TicketSales/Ticket Sales/.vs/ProjectEvaluation/ticket sales.metadata.v7.bin
/TicketSales/Ticket Sales/.vs/ProjectEvaluation/ticket sales.projects.v7.bin
/TicketSales/Ticket Sales/.vs/Ticket Sales/DesignTimeBuild/.dtbcache.v2
/TicketSales/Ticket Sales/.vs/Ticket Sales/v17/.suo
