
*.vsidx
*.dll
*.pdb
*.dll
TicketSales/Ticket Sales/.vs/Ticket Sales/v17/.suo
TicketSales/Ticket Sales/.vs/Ticket Sales/v17/.suo
*.dll
TicketSales/Ticket Sales/.vs/Ticket Sales/v17/.suo
*.dll
*.exe
*.pdb
*.cache
*.pdb
*.json
