
*.vsidx
*.dll
*.pdb
*.dll
TicketSales/Ticket Sales/.vs/Ticket Sales/v17/.suo
TicketSales/Ticket Sales/.vs/Ticket Sales/v17/.suo
*.dll
TicketSales/Ticket Sales/.vs/Ticket Sales/v17/.suo
*.dll
*.exe
*.pdb
*.cache
*.pdb
*.json
/TicketSales/Ticket Sales/.vs/ProjectEvaluation/ticket sales.metadata.v7.bin
/TicketSales/Ticket Sales/.vs/ProjectEvaluation/ticket sales.projects.v7.bin
/TicketSales/Ticket Sales/.vs/Ticket Sales/DesignTimeBuild/.dtbcache.v2
/TicketSales/Ticket Sales/.vs/Ticket Sales/v17/.suo
/TicketSales/Ticket Sales/Ticket Sales/bin/Debug/net8.0/Ticket Sales.dll
/TicketSales/Ticket Sales/Ticket Sales/bin/Debug/net8.0/Ticket Sales.exe
/TicketSales/Ticket Sales/Ticket Sales/bin/Debug/net8.0/Ticket Sales.pdb
/TicketSales/Ticket Sales/Ticket Sales/obj/Debug/net8.0/ref/Ticket Sales.dll
/TicketSales/Ticket Sales/Ticket Sales/obj/Debug/net8.0/refint/Ticket Sales.dll
/TicketSales/Ticket Sales/Ticket Sales/obj/Debug/net8.0/Ticket Sales.sourcelink.json
/TicketSales/Ticket Sales/Ticket Sales/obj/Debug/net8.0/Ticket Sales.pdb
/TicketSales/Ticket Sales/Ticket Sales/obj/Debug/net8.0/Ticket Sales.dll
/TicketSales/Ticket Sales/Ticket Sales/obj/Debug/net8.0/Ticket Sales.AssemblyInfoInputs.cache
/TicketSales/Ticket Sales/Ticket Sales/obj/Debug/net8.0/Ticket Sales.AssemblyInfo.cs
/TicketSales/Ticket Sales/Ticket Sales/obj/Debug/net8.0/apphost.exe
